.homepage-title {
    color: burlywood;
    background-color: beige;
    text-align: center;
    border: 1px solid gold;
}

.recipeOne {
    color: brown;
    display: block;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color:floralwhite;
    text-align: center;
    border: 1px solid brown;
}

.recipeTwo {
    color: brown;
    display: block;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color:floralwhite;
    text-align: center;
    border: 1px solid brown;
}

.recipeThree {
    color: brown;
    display: block;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color:floralwhite;
    text-align: center;
    border: 1px solid brown;
}

